.csc-header {
	background:#3b3b3b; 
	border-bottom: 2px solid gray;
}

.csc-footer {
	background:#3b3b3b; 
	border-top: 2px solid gray; 
	color: white; 
	text-align: right; 
	padding: 5px; 
	padding-right: 10px;
}

.csc-main {
	padding-left: 10px;
}

.csc-error-container {
	border: 2px solid red;  background: #eee; color: #555; font-weight: bold; padding: 5px; padding-left: 15px; font-family: Arial; width: 100%;
}

.csc-warning-container {
	border: 2px solid #FFCC22;  background: #eee; color: #555; font-weight: bold; padding: 5px; padding-left: 15px; font-family: Arial; width: 100%;
}

.csc-lens-container {
	color: black; font-weight: normal; padding: 5px; padding-left: 15px; font-family: Arial;
	border-left: 5px solid #eee;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 16px;
}
